* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background: linear-gradient(to right, #3b84c0, #ee95a4)
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px)
}

.calculator-grid button {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid #ffffff;
    outline: none;
    background-color: hsla(0, 0%, 100%, 0.70);
}

.calculator-grid button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-op {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.2rem;
}

.output .current-op {
    color: white;
    font-size: 2.5rem;
}